<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.release.transitionanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransitionAnimation">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ObjectAnimatorActivity"/>
        <activity android:name=".ObjectAnimator2Activity"/>
        <activity android:name=".ConstraintSetActivity"/>
        <activity android:name=".MotionLayoutActivity"/>
        <activity android:name=".MotionLayout2Activity"/>
    </application>

</manifest>